{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ auction.title }}</h2>
    {% if auction in watchlist %}
        <label class="tag">Watchlist ❤️</label>
    {% endif %}
    {% if auction.category %}
        <label class="tag">{{ auction.category }}</label>
    {% endif %}
    <div>
        {% if auction.image_url %}
            <img class="solo-image" src="{{ auction.image_url }}" alt="Picture of {{ auction.title }}">
            {{ auction.description }}
        {% endif %}
    </div>
    <div>
        <p>
            <span class="header">Price:
                {% if current_bid %}
                    ${{ current_bid.bid }}
                {% else %}
                    ${{ auction.starting_bid }}
                {% endif %}
            </span>

            {% if user.is_authenticated %}
                {% if auction in watchlist %}
                    <button class="watchlist-button margin-left" style="background-color: firebrick">
                        <a href="watchlist/{{ auction.id }}"> Remove from Watchlist </a>
                    </button>
                {% else %}
                    <button class="watchlist-button margin-left" style="background-color: dodgerblue">
                        <a href="watchlist/{{ auction.id }}"> Add to Watchlist ❤️</a>
                    </button>
                 {% endif %}
            {% endif %}
        </p>

        {{ bids_count }} bid(s) so far.
        {% if current_bid %}
            {% if current_bid.bidder == user %}
                Your bid is the current bid.
            {% endif %}
        {% endif %}

        <p>
            {% if auction.seller == user and auction.is_active%}
                <button class="watchlist-button" style="background-color: firebrick">
                    <a href="close/{{ auction.id }}"> Close Auction </a>
                </button>
            {% endif %}
        </p>


        {% if not winner %}
            {% if not user == auction.seller and user.is_authenticated %}
                <form action="{% url 'auction' auction.id %}" method="post">
                    {% csrf_token %}
                    <span class="message">{{ message }}</span>
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Bid">
                </form>
            {% endif %}
        {% else %}
            {% if winner.winner == user %}
                <p>You won this auction!</p>
            {% else %}
                <p>Winner of auction: {{ winner.winner }}</p>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <h4>Details</h4>
        <ul>
            <li>Listed by: {{ auction.seller }} </li>
            <li>Category:
                {% if auction.category %}
                    <a href="categories/{{ auction.category.id }}">{{ auction.category }}</a>
                {% else %}
                    No Category Listed
                {% endif %}
            </li>
        </ul>
    </div>
    <div>
        <h4>Comments</h4>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <h6>{{ comment.author }}</h6>
                    {{ comment.comment }}
                </div>
            {% empty %}
                <h5>No Comments</h5>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <form action="{% url 'comment' auction.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Add Comment">
            </form>
        {% endif %}
    </div>

{% endblock %}